.featured{
    width: 100%;
    display: flex;
}

.featuredItem{
    margin: 0 0;
    width: 280px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.featuredTitle{
    font-size: 26px;
}
.fearturedTemperatureContainer{
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.featuredTemperature{
    font-size: 26px;
    font-weight: 600;
}

.featuredIcon{
    font-size: 14px;
    margin-left: 5px;
    color: red;
}